<section class="datails">
    <h1>user-detail-component</h1>
    <h1>id:{{users[0].id}}</h1>
    <h1>Name: {{users[0].name}}</h1>
    <h1>Surname: {{users[0].surname}}</h1>
    <h1>Age: {{users[0].age}}</h1>
    <h1>Date of Birth: {{users[0].dateOfBirth | date:'dd/MMM/yyyy'}}</h1>
    <h1>Address:</h1>
    <h1>City: {{users[0].address.city}}</h1>
    <h1>Street: {{users[0].address.street}}</h1>
    <h1>Postal Code: {{users[0].address.postalCode}}</h1>
    <h1>Role: {{users[0].role}}</h1>   
    <h1>Username: {{users[0].username}}</h1>
    <img src="https://www.gelestatic.it/thimg/0g2rIKgniy0MVTxmOGZY9G0uOk8=/fit-in/960x540/https%3A//www.lastampa.it/image/contentid/policy%3A1.40556551%3A1627768482/Pumpkin%2520the%2520Ginger%2520Tabby%2520.jpg%3Ff%3Ddetail_558%26h%3D720%26w%3D1280%26%24p%24f%24h%24w%3Dfcf687b" alt="" width="210px">
    <h1>Gender: {{users[0].gender}}</h1>
    <h1>Company: {{users[0].companies[0].name}}</h1>
    <h1>Description: {{users[0].companies[0].description}}</h1>
    <h1>Company: {{users[0].companies[1].name}}</h1>
    <h1>Description: {{users[0].companies[1].description}}</h1>
    
</section>
